/*
* @Author: mqxu 
* @Date: 2022-12-26 10:06:29 
* @Last Modified by: minder
* @Last Modified time: 2022-12-26 15:50:40
*/

/* 头部导航条 */
.ssy-header {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    top: 0;
    z-index: 200;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}

/*左侧功能区*/
.ssy-header>.title {
    flex-grow: 1;
    /*对超长文本自动截断并添加省略号*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ssy-header>.right {
    flex-basis: 4rem;
    flex-shrink: 0;
}