/*
* @Author:mqxu
* @date:2022-12-26 10:06:29
* @Last Modified by:minder
* @Last Modified time : 2022-10-28 15:30:07
*/

/* 字体图标，依赖font-awesome */
@import '//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';

.fa {
    display: inline-block;
    text-align: center;
}

/* 垂直方向上振动 */
.fa-vibrate-y {
    animation: fa-vibrate-y 1.5s infinite ease-in;
}

/* 振动轨迹 */
@keyframes fa-vibrate-y {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}